header {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}
.navstyle{
	font-size: 14px;
	display: flex;
	gap: 20px;
}
.navstyle a{
	color: #575757;
	text-decoration: none;
}
.navstyle a:hover{
	color: black;
	text-decoration: underline;
}

main {
	padding-left: 20px;
	padding-right: 20px;
}

h2 {
	color: #ED5C37;
	font-size: 20px;
	font-weight: bold;
}

.suggest-reads-list{
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

footer {
	font-size: 12px;
	color: gray;
	text-align: right;
}
.bookimg{
	width: 100%;
	border-radius: 5px;
}
.bookname{
	font-size: 14px;
	margin-top: 10px;
	text-wrap: wrap;
}